@{
    ViewBag.Title = "Home";
}

<div class="background">
    <div class="transbox">
        <p>
            Azure Doctor is a cloud-based Windows Azure cloud services monitor
        </p>
    </div>
</div>

<div class="threeDivContainer">
    <div class="leftDiv">
        <h2>Automatic monitoring</h2>
            Have your Windows Azure cloud services automatically monitored 24/7/365
    </div>

    <div class="rightDiv">
        <h2>Real-time notifications</h2>
            Receive SMS alerts if your cloud service encounters an error
    </div>

    <div class="centreDiv">
        <h2>Platform independent</h2>
            See the status of your cloud services in any browser
    </div>

    <div id="homeScrollDiv">
    </div>
</div>

@Scripts.Render("~/bundles/home")

