@{
    ViewBag.Title = "Instructions";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<ul class="listLogo">
    <li>Register for an Azure Doctor account</li>
    <li>Obtain a security certificate from the Azure Doctor administrator</li>
    <li>Add this certificate as a management certificate in your Windows Azure account</li>
    <li>Add your Windows Azure subscription details to your Azure Doctor account</li>
    <li>Add your Windows Azure cloud service(s) details to your Azure Doctor account</li>
    <li>Add your phone number to your Azure Doctor account</li>
    <li>Azure Doctor will now monitor your cloud services round-the-clock</li>
    <li>If any of your cloud service instances experience a problem you will be notified by SMS</li>
    <li>To view the current status of your cloud services log in to your Azure Doctor account</li>
    <li>A green heart indicates that all of your cloud service instances are healthy</li>
    <li>A red heart indicates that one or more of your cloud service instances is unhealthy</li>
    <li>To edit your Windows Azure details log in to your Azure Doctor account</li>
</ul>
