@model AzureDoctor.Models.CloudService

@{
    ViewBag.Title = "Health Status";
}

<div class="ajaxButtonDiv" >
    @* Overload 9 of 12: linkText, actionName, controllerName, routeValues, ajaxOptions, htmlAttributes. *@
    @Ajax.ActionLink("Check Health",
                     "GetHealthStatus",
                     "AzureDoctor",
                     new {id = "1"},                            
                     new AjaxOptions
                     {
                         HttpMethod = "POST",
                         InsertionMode = InsertionMode.Replace,
                         UpdateTargetId = "updateArea",
                         OnSuccess = "displayStatus()"
                     },
                     new { id = "ajaxButton", onclick = "displayLoadingImage()" })
</div>

<div id="updateArea">
  @Html.Partial("ResultPartial")
</div>

@Scripts.Render("~/bundles/ajax")
    
