@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Message</h1>
</hgroup>

<div id="contactPage">
<section class="contact">
   
    <h3>Phone</h3>
    
    <p>
        <span class="label">Landline:</span>
        <span>(01)123-4567</span>
    </p>
    <p>
        <span class="label">Mobile:</span>
        <span>(087)987-6543</span>
    </p>
</section>

<section class="contact">
   
    <h3>Email</h3>
    
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:azuredoctorsupport@outlook.com">azuredoctorsupport@outlook.com</a></span>
    </p>
    <p>
        <span class="label">Sales:</span>
        <span><a href="mailto:azuredoctorsales@outlook.com">azuredoctorsales@outlook.com</a></span>
    </p>
</section>

<section class="contact">
    
    <h3>Address</h3>
    
    <p>
        One Cirrus Way<br />
        Asclepius, Dublin 24
    </p>
</section>
</div>
 